/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img[src$=".gif"] {
  box-shadow: none;
}
.tl-slidenav-previous .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-description {
    filter: alpha(opacity=65);
    -khtml-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
	font-family: "Fjalla One", sans-serif !important;
	font-size: 9px;
}
.tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-description {
    font-size: 9px;
    margin-top: 5px;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description {
    color: #fff;
}
.tl-text .tl-headline-date, .tl-text h3.tl-headline-date {
    color: #505050;
}
body, p, .tl-timeline h1, .tl-timeline h2, .tl-timeline h3, .tl-timeline h4, .tl-timeline h5, .tl-timeline h6, .tl-timeline .tl-headline-date, .tl-timeline h3.tl-headline-date {
	font-family:"Montserrat", sans-serif !important;
}
.tl-timeline .tl-caption, .tl-timeline .tl-credit {
	font-family:"Montserrat", sans-serif !important;
}
.tl-text-content {
	background-color: #00000094;
	border: 8px solid #0000;
	border-top: 1px solid #0000;
	border-bottom: 1px solid #0000;
}
.tl-text-content-container .tl-headline {
    font-size: 40px !important;
}
.tl-headline.tl-headline-title {
	font-size: 58px !important;
}
.tl-timeaxis-background {
    background-color: #13294B;
}
body {
	background-color: #13294b;
}
.tl-timenav {
    background-color: #F8FAFC;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick {
	color:#9a9a9a
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick {
	color:white
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick::before {
	color:#F5821E;
	border-color:#F5821E
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick::before {
	color:#F5821E;
	border-color:#F5821E
}
#image-of-research .tl-caption {
	width:510px!important
}
.tl-credit {
    margin-top: 3px;
}
.tl-menubar-button {
    background-color: #D2D2D2;
    color: #13294B;
}
.tl-menubar-button:hover {
    background: #13294B;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline.tl-headline-fadeout::after, .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline p.tl-headline-fadeout::after {
	background:none
}
.tl-timemarker .tl-timemarker-content-container {
    background-color: #D2D2D2;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
	color:white
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container {
    display: none;
}
.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline.tl-headline-fadeout::after, .tl-timemarker:hover.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline.tl-headline-fadeout::after {
	background:none
}
.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
    background-color: #F5821E;
}